extends layouts/main-layout.pug

block styles
	link(rel="stylesheet", href="/css/userForm.css")

block content
	main
		form.user-form(action="/add-user" method="POST")
			.form-control
				label(for="username") Enter Username:
				input(type="text" name="username")#username
			button.btn(type="submit") Add User
